/* Custom CSS */

.license, #cclicense { 
			font-size: 11px; 
			text-align: center;
		 }
		 
.license img, #cclicense { 
			margin: 10px;
		 }

#cv {
  -webkit-border-radius: 14px;
  border-radius: 14px;
  margin: auto;
  text-align: center;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 5px;
  margin: 30px auto 30px auto !important;
  display: block;
}

.container p img {
  display: block;
  padding: 4px;
  line-height: 1;
  max-width: 920px;
  border: 1px solid #ddd;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom:15px;
}

legend { 
	margin:3px; 
	text-align:center;
	width:100%; 
	font-size: 14px; 
	border: 0px;   
	line-height: 18px;
	}




/* CSS from Bootstrap website: */

/* Sticky footer styles
-------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height + a 30px margin */
  margin-bottom: 170px;
}

#footer {
  position: absolute;
  bottom: 0;
  height: 140px;
  width: 100%;
  background-color: #eee;
  padding: 20px;
}


/*  Fix iframe size
	From http://www.bymichaellancaster.com/blog/fluid-iframe-and-images-without-javascript-plugins/
	*/
	
.fluidMedia {
    position: relative;
    padding-bottom: 56.25%; /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.fluidMedia iframe {
    position: absolute;
    padding: 0px;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
}